<!DOCTYPE html>
<html>
    <head>
        <h1>Car Management</h1>
    </head>
    <body>
        <!-- Add a form with a button -->
        <form method="GET" action="/get_customers">
            <button type="submit">Get Customer</button>
        </form>
        <br>
        </br>
        <form method="POST" action="/add_customer_web">
            <h2>Add Customer</h2>
            <input type="text" name="name" placeholder="Name">
            <input type="text" name="email" placeholder="Email">
            <button type="submit">Add Customer</button>
        </form>
        <form method="POST" action="/update_customer_web"> 
            <h2>Update Customer</h2>
            <input type="text" name="new name" placeholder="New Name">
            <input type="text" name="new email" placeholder="New Email">
            <input type="text" name="name" placeholder="Name">
            <input type="text" name="email" placeholder="Email">
            <button type="submit">Update Customer</button>
        </form>
        <form method="POST" action="/remove_customer_web">
            <h2>Remove Customer</h2>
            <input type="text" name="name" placeholder="Name">
            <input type="text" name="email" placeholder="Email">
            <button type="submit">Remove Customer</button>
        </form>
    </body>
</html>